Repository strugglinglee/dream-world: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint "src/**/*.(vue|scss|css)" --fix

feat: test
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  src/App.vue
  src/components/HelloWorld.vue
  src/pages/detail.vue
  src/pages/home.vue
  src/style.css
Due: eslint --fix, prettier --write

chore: 优化
  .husky/pre-commit
Due: none

chore: 优化
  .lintstagedrc.json
Due: none

docs: update readme
  README.md
Due: prettier --write

feat: test router
  src/pages/home.vue
Due: eslint --fix, prettier --write

fix: 部署刷新404
  vercel.json
Due: none

fix: lint
  src/App.vue
  src/pages/detail.vue
Due: eslint --fix, prettier --write

chore: vercel.json
  README.md
Due: prettier --write

feat: tiny
  index.html
  src/assets/logo.svg
  src/assets/vue.svg
  src/pages/home.vue
Due: eslint --fix, prettier --write

feat: 更新图标
  index.html
  src/assets/logo.svg
Due: none

chore: 去掉代码检测
  .husky/commit-msg
  .husky/pre-commit
Due: none

feat: blank
  README.md
  package-lock.json
  package.json
  src/App.vue
  src/assets/images/avatar.png
  src/components/HelloWorld.vue
  src/components/test.vue
  src/main.ts
  src/pages/home.vue
  src/pages/home/data.ts
  src/pages/home/index.vue
  src/router/index.ts
  src/style.css
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

CI: test
  package-lock.json
Due: none

Create node.js.yml
  .github/workflows/node.js.yml
Due: none

CI: githubActions
  .github/workflows/node.js.yml
Due: none

Deploying to gh-pages from @ strugglinglee/dream-world@46b93f62c418d4b0d4d696f52e1343d7e23122b8 🚀
  assets/FiraCode-Regular.f13d1ece.woff2
  assets/LatoLatin-Regular.ddd4ef7f.woff2
  assets/LatoLatin-Semibold.267eef30.woff2
  assets/avatar.7db87195.png
  assets/index.5ac716f8.css
  assets/index.c6e6e37c.js
  assets/logo.2ea56756.svg
  index.html
  vite.svg
Due: eslint --fix, prettier --write

fix: CI
  vite.config.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ strugglinglee/dream-world@f7cad84179f5077bb89e3758c74b3e8ce5c5a7e0 🚀
  assets/index.5ac716f8.css
  assets/index.74e9c438.css
  assets/index.c6e6e37c.js
  index.html
Due: eslint --fix, prettier --write

fix: ci
  src/router/index.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ strugglinglee/dream-world@175099cf5399c249f67aeebc7d77e4ddf3add6ff 🚀
  assets/index.7807811e.js
  index.html
Due: eslint --fix, prettier --write

feat: flag
  src/pages/home/data.ts
  src/router/index.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ strugglinglee/dream-world@15257eae1311f4d5e2c06e100c281c93ff5f7933 🚀
  assets/index.7807811e.js
  assets/index.92c56d4b.js
  index.html
Due: eslint --fix, prettier --write

feat: 增加考勤时间计算页面
  docs/todo.md
  package-lock.json
  package.json
  src/App.vue
  src/pages/attendance.vue
  src/router/index.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ strugglinglee/dream-world@911060c9d74a3cfa50a08d73db3ec66b978849df 🚀
  assets/index.92c56d4b.js
  assets/index.a05a2202.js
  index.html
Due: eslint --fix, prettier --write

feat: 增加考勤时间计算页面-优化
  src/pages/attendance.vue
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ strugglinglee/dream-world@e4c00ba9fcb1ea4f3fea799feba59acda8837bcf 🚀
  assets/index.876c5dd0.js
  assets/index.a05a2202.js
  index.html
Due: eslint --fix, prettier --write

feat: 优化
  src/pages/attendance.vue
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ strugglinglee/dream-world@64d2982cb5135f1621dfe047a5b95e6d3b693dae 🚀
  assets/index.44dba7bd.js
  assets/index.876c5dd0.js
  index.html
Due: eslint --fix, prettier --write

feat: test
  src/pages/home/index.vue
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ strugglinglee/dream-world@261e06d49ef8fba26eab8ec0cb97ff2f8768aaa2 🚀
  assets/index.44dba7bd.js
  assets/index.74e9c438.css
  assets/index.ac61d452.js
  assets/index.e3a3a06c.css
  index.html
Due: eslint --fix, prettier --write

fix: 计算
  src/pages/attendance.vue
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ strugglinglee/dream-world@aa922b207ca40d280f06f9811127168d7c4f1b00 🚀
  assets/index.6c00eb2e.js
  index.html
Due: eslint --fix, prettier --write

chore: 构建问题
  .github/workflows/node.js.yml
Due: none

Deploying to gh-pages from @ strugglinglee/dream-world@16b2be2f3ea090e3a378f1a2c1189315a4b546d7 🚀
  404.html
Due: none

feat: 去除测试代码
  src/pages/home/index.vue
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ strugglinglee/dream-world@0d8c113755d0841aa611bf3edcbca50de99ebd28 🚀
  404.html
  assets/index.6c00eb2e.js
  assets/index.74e9c438.css
  assets/index.e3a3a06c.css
  assets/index.f9042f2b.js
  index.html
Due: eslint --fix, prettier --write

feat: 更新功能
  src/pages/attendance.vue
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ strugglinglee/dream-world@bf3bddafadc0cc546d270a8a056d5917197c55e1 🚀
  404.html
  assets/index.3b20d9e0.js
  assets/index.f9042f2b.js
  index.html
Due: eslint --fix, prettier --write

fix: 缓存问题修复
  src/pages/attendance.vue
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx,jsx,vue}
  prettier --write: ((any of: *.{js,ts,tsx,jsx,vue}) or (any of: package.json)) or (any of: *.md)
  stylelint "src/**/*.(vue|scss|css)" --fix: any of: {scss,css,vue}
